{%extends 'registration/base.html'%}{% load django_bootstrap5%}{% load static%}

{% block content %}
{{block.super}}
{% if form.errors %}
<p> Incorrect Password or Username </p>
{% endif %}
<center>
  <div class="form-rl">
    <form class="form" action="/accounts/login/" method="post">
      {% csrf_token %} {% bootstrap_form form%}

      <div class="border-top pt-3">
        <small class="text-muted">Need of an Account ? <a href="/accounts/register/">register</a></small>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-sm" value="Sign In" />
      </div>
      <input type="hidden" name="next" value="{{next}}" />
    </form>

</center>
<style>
  .form {
    margin: 40px;
    width: 40vw;
    padding: 20px;
    background-color: rgba(41, 162, 1, 0.575);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    text-shadow: 0 0 0px;
    position: relative;

  }
</style>
>{% endblock%}