{% extends 'business/base.html'%}{% load static %} {% block content %} {{block.super}}

<div class="row py-5 px-4">
  <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

     <div class="bg-white shadow rounded overflow-hidden">
        
          <div class="px-4 pt-0 pb-4 bg-dark">
              <div class="media align-items-end profile-header">
                
                  <div class="profile mr-3"><img src="{{profile.picture.url}}" alt="..." width="130"
                          class="rounded mb-2 img-thumbnail"> <span ><a class="btn"href="{% url 'new_profile' %}">Edit Profile</a></span>    </div>
                  <div class="media-body mb-5 text-white">
                      <h4 class="mt-0 mb-0" style="margin: 4rem 0 3rem; padding: 0.5rem 0.5rem 0.5rem 0.5rem">{{profile.name}}</h4>
                      <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>{{profile.email}}</p>
                      <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>{{profile.bio}}</p>
                  </div>
                  
              </div>
          </div>

          
      </div>
  </div>
</div>

{% endblock%}