/* body {
  background-color: black;
  color: #fff;
}

form {
  width: 50%;
  margin: 0 25%;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 8px #bbf321;
}

img {
  width: 80px;
}

p,
li {
  font-family: "Lato", sans-serif;
  font-size: min(1rem, 2.5vw);
  text-align: justify;
  text-justify: inter-word;
}
h1 {
  font-size: 8vw;
  font-family: "Playfair Display", serif;
}


h4 {
  font-size: min(2rem, 3.5vw);
}

h3 {
  font-size: min(4rem, 8vw);
  font-family: "Playfair Display", serif;
}

h5,
label {
  font-size: min(2rem, 5vw);
  font-family: "Playfair Display", serif;
}
h6 {
  font-size: 1.5vw;
  font-family: "Playfair Display", serif;
} */
